[Service]
ExecCondition=bash -c '[[ "$(hostname -s)" =~ mgmtnode[0-9]?$ ]]'
ExecStartPre=+chown -R slurm:slurm /auth /etc/slurm/
ExecStartPre=+chmod -R 0770 /auth
ExecStartPre=+touch /var/log/slurmctld.log
ExecStartPre=+chown slurm:slurm /var/log/slurmctld.log
ExecStartPre=+/usr/local/bin/slurmctld.startup.sh
ExecStartPost=+/usr/local/bin/slurmctld.startup2.sh
User=slurm
Group=slurm
TimeoutSec=1800
