version: "3.8"

services:
  jenkins:
    build:
      context: .
      dockerfile: Dockerfile
      tags:
        - jenkins-with-wso2id:latest
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home

volumes:
  jenkins_home:
