version: '2'

networks:
  zenml:
    ipam:
      config:
        - subnet: 172.20.0.0/24

services:
  zenml_unsafe:
    container_name: zenml_unsafe
    build:
      dockerfile: DockerfileUnSafe
    networks:
      zenml:
        ipv4_address: 172.20.0.2
    ports:
      - "8080"
  zenml_safe:
    container_name: zenml_safe
    image: zenmldocker/zenml-server:0.58.2
    networks:
      zenml:
        ipv4_address: 172.20.0.3
    ports:
      - "8080"